In [119]:
import pandas as pd 
import json
import numpy as np

In [120]:
json_path1 = "./purchase_data.json"
first_data = pd.read_json(json_path1)
first_df = pd.DataFrame(first_data)
first_df

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64
12,30,Male,81,Dreamkiss,4.06,Iskossa88
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
18,28,Male,91,Celeste,3.71,Iskista88
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83
21,15,Male,3,Phantomlight,1.79,Iaralrgue74
22,11,Female,11,Brimstone,2.52,Deural48
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67
25,21,Male,63,Stormfury Mace,1.27,Idai61
26,29,Male,132,Persuasion,3.90,Aerithllora36
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25
...,...,...,...,...,...,...
750,23,Male,86,Stormfury Lantern,1.28,Eollym91
751,26,Female,179,"Wolf, Promise of the Moonwalker",1.88,Lisjasksda68
752,15,Female,116,Renewed Skeletal Katana,2.37,Yalostiphos68
753,20,Male,4,Bloodlord's Fetish,2.28,Thryallym62
754,31,Male,104,Gladiator's Glaive,1.36,Sondastan54
755,22,Female,179,"Wolf, Promise of the Moonwalker",1.88,Ailaesuir66
756,22,Male,6,Rusty Skull,1.20,Siasri67
757,35,Male,11,Brimstone,2.52,Seosri62
758,20,Male,122,Unending Tyranny,1.21,Ryastycal90
759,19,Male,87,"Deluge, Edge of the West",2.20,Chanirrasta87
760,29,Male,81,Dreamkiss,4.06,Aerithllora36
761,28,Male,175,Woeful Adamantite Claymore,1.24,Raeduerin33
762,36,Male,52,Hatred,4.39,Lisosiast26
763,27,Other / Non-Disclosed,48,"Rage, Legacy of the Lone Victor",4.32,Eurisuru25
764,25,Male,70,Hope's End,3.89,Assassasda84
765,15,Male,13,Serenity,1.49,Aerithnucal56
766,22,Female,84,Arcane Gem,2.23,Nitherian58
767,20,Male,122,Unending Tyranny,1.21,Hailaphos89
768,21,Male,158,"Darkheart, Butcher of the Champion",3.56,Chamucosda93
769,24,Male,73,Ritual Mace,3.74,Frichilsasya78
770,22,Male,141,Persuasion,3.27,Aenasu69
771,24,Male,25,Hero Cane,1.03,Lassista97
772,15,Male,31,Trickster,2.07,Sidap51
773,21,Male,44,Bonecarvin Battle Axe,2.46,Chamadarsda63
774,24,Male,123,Twilight's Carver,1.14,Lassassast73
775,22,Male,98,"Deadline, Voice Of Subtlety",3.62,Eural50
776,14,Male,104,Gladiator's Glaive,1.36,Lirtossa78
777,20,Male,117,"Heartstriker, Legacy of the Light",4.15,Tillyrin30
778,20,Male,75,Brutality Ivory Warmace,1.72,Quelaton80
779,23,Female,107,"Splitter, Foe Of Subtlety",3.61,Alim85

In [121]:

players_count = len(first_df["SN"].unique()) 
players_counTable = pd.DataFrame({"Total Players":[players_count]})
players_counTable

   Total Players
0            573

In [122]:
unique_items = len(first_df["Item ID"].unique())
avg_price=first_df["Price"].mean()
total_purchases=len(first_df["Item ID"])
total_revenue=first_df["Price"].sum()
purchasing_analysis = pd.DataFrame({"Unique Items":[unique_items],
                                   "Avg Price":[avg_price],
                                   "Total Purchases":[total_purchases],
                                   "Total Revenue":[total_revenue]})
purchasing_analysis

   Avg Price  Total Purchases  Total Revenue  Unique Items
0   2.931192              780        2286.33           183

In [123]:
male_df = first_df.loc[first_df["Gender"] == "Male", :]
female_df = first_df.loc[first_df["Gender"] == "Female", :]
other_df = first_df.loc[first_df["Gender"] == "Other / Non-Disclosed", :]
pmale_df = (len(male_df["SN"])/len(first_df))*100
pfemale_df = (len(female_df["SN"])/len(first_df))*100
pother_df = (len(other_df["SN"])/len(first_df))*100
gender_table = pd.DataFrame({"Gender":["Male", "Female", "Other / Non-Disclosed"],
                                "Percentage of Players":["%.2f" % pmale_df, "%.2f" % pfemale_df, "%.2f" % pother_df],
                                "Total Count":[len(male_df["SN"]), len(female_df["SN"]), len(other_df["SN"])]})
gender_table

                  Gender Percentage of Players  Total Count
0                   Male                 81.15          633
1                 Female                 17.44          136
2  Other / Non-Disclosed                  1.41           11

In [124]:
Themale_df = first_df.loc[first_df["Gender"] == "Male", :]  
Thefemale_df = first_df.loc[first_df["Gender"] == "Female", :]
Theother_df  = first_df.loc[first_df["Gender"] == "Other / Non-Disclosed", :]

Count_male = len(Themale_df["Item ID"])   
Count_female = len(Thefemale_df["Item ID"])
Count_other = len(Theother_df["Item ID"])

Avg_Price_male = Themale_df["Price"].sum()/Count_male
Avg_Price_female = Thefemale_df["Price"].sum()/Count_female
Avg_Price_other = Theother_df["Price"].sum()/Count_other

Tot_Value_male = Themale_df["Price"].sum()
Tot_Value_female = Thefemale_df["Price"].sum()
Tot_Value_other = Theother_df["Price"].sum()

Normalized_Totals_male = Themale_df["Price"].mean()
Normalized_Totals_female = Thefemale_df["Price"].mean()
Normalized_Totals_other = Theother_df["Price"].mean()

gender_purchase_table = pd.DataFrame({" ":["Gender", "Female", "Male", "Other / Non-Disclosed"],
                                "Purchase Count":["", Count_female, Count_male, Count_other],
                                "Average Purchase Price":["", "$%.2f" % Avg_Price_female, "$%.2f" % Avg_Price_male, "$%.2f" % Avg_Price_other],
                                "Total Purchase Value":["" , "$%.2f" % Tot_Value_female, "$%.2f" % Tot_Value_male, "$%.2f" % Tot_Value_other],      
                                "Normalized Totals":["" , "$%.2f" % Normalized_Totals_female, "$%.2f" % Normalized_Totals_male, "$%.2f" % Normalized_Totals_other]})
gender_purchase_table.set_index(" ", inplace=True)
gender_purchase_table

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
,,,,
Gender,,,,
Female,$2.82,$2.82,136,$382.91
Male,$2.95,$2.95,633,$1867.68
Other / Non-Disclosed,$3.25,$3.25,11,$35.74

In [125]:
bins = [0,9,14,19,24,29,34,39,150] 

labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

reduced_df = first_df[["Age", "Price"]]
reduced_df["Age Group"] = pd.cut(reduced_df["Age"],bins,labels=labels)
Age_Group = reduced_df.groupby("Age Group")

Purchase_Count = Age_Group.size().to_frame(name= "Purchase_Count")          
Average_Purchase_Price = Age_Group["Price"].mean().to_frame(name= "Average_Purchase_Price")   
Total_Purchase_Value = Age_Group["Price"].sum().to_frame(name= "Total_Purchase_Value")     
Normalized_Totals = Age_Group["Price"].sum().to_frame(name= "Normalized_Totals")

Age_Demo_df = pd.concat([Purchase_Count, Average_Purchase_Price, Total_Purchase_Value, Normalized_Totals], axis=1)
Age_Demo_df['Average_Purchase_Price'] = Age_Demo_df['Average_Purchase_Price'].map("${:.2f}".format)
Age_Demo_df['Total_Purchase_Value'] = Age_Demo_df['Total_Purchase_Value'].map("${:.2f}".format)
Age_Demo_df['Normalized_Totals'] = Age_Demo_df['Normalized_Totals'].map("${:.2f}".format)
Age_Demo_df

C:\Users\Anish Tendolkar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Purchase_Count,Average_Purchase_Price,Total_Purchase_Value,Normalized_Totals
Age Group,,,,
<10,28,$2.98,$83.46,$83.46
10-14,35,$2.77,$96.95,$96.95
15-19,133,$2.91,$386.42,$386.42
20-24,336,$2.91,$978.77,$978.77
25-29,125,$2.96,$370.33,$370.33
30-34,64,$3.08,$197.25,$197.25
35-39,42,$2.84,$119.40,$119.40
40+,17,$3.16,$53.75,$53.75

In [126]:
SN_Grouping = first_df.groupby("SN")

Purchase_Count = SN_Grouping.size().to_frame(name= "Purchase_Count")           
Average_Purchase_Price = SN_Grouping["Price"].mean().to_frame(name= "Average_Purchase_Price")   
Total_Purchase_Value = SN_Grouping["Price"].sum().to_frame(name= "Total_Purchase_Value")     
SN_df = pd.concat([Purchase_Count, Average_Purchase_Price, Total_Purchase_Value], axis=1)
SN_df['Average_Purchase_Price'] = SN_df['Average_Purchase_Price'].map("${:.2f}".format)
SN_df['Total_Purchase_Value'] = SN_df['Total_Purchase_Value'].map("${:.2f}".format)
SN1_df = pd.DataFrame(SN_df)
SN1_df = SN1_df.sort_values("Total_Purchase_Value", ascending=False)

SN1_df.head()

              Purchase_Count Average_Purchase_Price Total_Purchase_Value
SN
Qarwen67                   4                  $2.49                $9.97
Sondim43                   3                  $3.13                $9.38
Tillyrin30                 3                  $3.06                $9.19
Lisistaya47                3                  $3.06                $9.19
Tyisriphos58               2                  $4.59                $9.18

In [127]:
item = first_df.groupby("Item ID")

Purchase_Count = item["Item ID"].size().to_frame(name= "Purchase Count")  
Price = item["Price"].mean().to_frame(name= "Price")  
Name = item["Item Name"].unique().to_frame(name= "Item Name") 
PValue = item["Price"].sum().to_frame(name= "Total_Purchase_Value")
Igroup_df = pd.concat([Name, Purchase_Count, Price, PValue], axis=1)
Igroup_df['Total_Purchase_Value'] = Igroup_df['Total_Purchase_Value'].map("${:.2f}".format)
Igroup_df['Price'] = Igroup_df['Price'].map("${:.2f}".format)
item_group_df = pd.DataFrame(Igroup_df)
item_group_df = item_group_df.sort_values("Purchase Count", ascending=False)


item_group_df.head()

,Item Name,Purchase Count,Price,Total_Purchase_Value
Item ID,,,,
39,"[Betrayal, Whisper of Grieving Widows]",11,$2.35,$25.85
84,[Arcane Gem],11,$2.23,$24.53
31,[Trickster],9,$2.07,$18.63
175,[Woeful Adamantite Claymore],9,$1.24,$11.16
13,[Serenity],9,$1.49,$13.41

In [128]:
item_group_df = item_group_df.sort_values("Total_Purchase_Value", ascending=False)
item_group_df.head()

,Item Name,Purchase Count,Price,Total_Purchase_Value
Item ID,,,,
170,[Shadowsteel],5,$1.98,$9.90
21,[Souleater],3,$3.27,$9.81
37,"[Shadow Strike, Glory of Ending Hope]",5,$1.93,$9.65
127,"[Heartseeker, Reaver of Souls]",3,$3.21,$9.63
120,[Agatha],5,$1.91,$9.55